[Unit]
Description=BluezALSA proxy service
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/bluealsa -p a2dp-sink
Restart=always
RestartSec=5
TimeoutStopSec=15

[Install]
WantedBy=default.target
