[Unit]
Description=Tracker - car computer system daemon
Requires=bluetooth.service
After=bluetooth.service systemd-udev-trigger.service network.target

[Service]
Type=simple
Restart=always
RestartSec=1
TimeoutStopSec=15

KillSignal=SIGINT
LimitMEMLOCK=infinity
LimitRTPRIO=infinity

User=tracker
Group=tracker
WorkingDirectory=/srv/tracker

Environment="PYTHONPATH=lib:src" 'DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket'

ExecStart=/usr/bin/python -u src/Core.py config.user.yaml
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
